/.venv/
/.idea/
/communities/__pycache__
/communities/migrations/__pycache__
/murmur/__pycache__

/post/__pycache__
/post/migrations/__pycache__
/core/__pycache__
/murmur/__pycache__
/users/__pycache__
/users/migrations/__pycache__
/comments/__pycache__
*.pyc
views/static/css/tailwindcss.exe
